.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  background-color: #8ca7c0;
  border: 1px solid black;
  border-top: none;
  font-size: 20px;
}

.map {
  width: 100%;
}
.center {
  display: flex;
  height: 100%;
  width: 100%;
}
.center:not(:last-child) {
  margin-bottom: 1rem;
}
